/* Milton Tomasino
Student ID: 922762734
GitHub: MiltonTomasino */



#gameArea{
    border: 2px solid red;
    background-color: black;
    color: white;
}

body{
    background-color: wheat;
}

.grid{
    display: grid;
    grid-template-columns: auto 50% auto;
    grid-template-rows: 100px 630px 100px 100px;
}

.header{
    grid-column: 2;
    text-align: center;
    
}

.leftSide{
    grid-column: 1 / 2;
    padding-top: 190px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 150%;
    
    
}

.leftSide li{
    list-style: none;
}

.GameCanvas{
    grid-column: 2 / 3;
    text-align: center;
}

.rightSide{
    grid-column: 3 / 4;
    text-align: center;
    padding-top: 190px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 150%;
}

.rightSide li{
    display: inline-block;
    list-style: none;
}

.rightSide h1{
    color: red;
}

.pageDirections{
    grid-column: 2;
    text-align: center;
}

#directions{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 150%;
}

.centerButtons{
    grid-column: 2;
    text-align: center;
    padding-top: 20px;
}

#button{
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ff4d4d;
    color: yellow;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    
}

#button:hover{
    background-color: white;
    color: black;
}

.new-button{
    width: 200px;
    height: 60px;
    background-color: #7FFFD4;
    border-color: #7FFFD4;
    border-radius: 10px;
    cursor: pointer;
}

.new-button a{
    text-decoration: none;
}

.new-button:hover{
    background-color: aliceblue;
    border-color: aliceblue;
}