 body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    line-height: 1.6;
    font-size: 16px;
    min-height: 100vh;
}
/*
.navBar ul{
    list-style: none;
    display: flex;
    color: black;
    padding: 14px 20px;
}

.navBar a {
    border-radius: 10px;
    color: inherit;
    text-decoration: none;
    padding: 14px 20px;
}

.navBar a:hover{
    background: #ffffcc;
    color: black;
} */

/* #141452 */
/* #191966 */

.greetings{
    text-align: center;
}



.greetings h2{
    margin: 0;
}

.greetings h2 a{
    color: white;
}

.greetings h2 a:hover{
    color: blue;
}