.content-body{
    padding: 2rem;
    margin: 3rem;
    /* border-style: solid;
    border-color: red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-table{
    /* border: 2px;
    border-style: solid;
    border-color: blue; */
    align-items: center;
    width: 100%;
}

.portfolio-table td{
    border: 3px;
    border-style: solid;
    border-color: black;
    padding: 2rem;
    text-align: center;
}

.image-wrapper{
    display: flex;
    justify-content: center;
}

.image img:hover{
    opacity: 50%;
    cursor: pointer;
}

.content-container{
    width: 100%;
    /* border-style: solid;
    border-color: blue; */
    border-top: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100%;
}

.description{
    /* border-style: solid;
    border-color: green; */
    border-right: 2px solid black;
    margin: 5rem;
    max-width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.text{
    /* border-style: solid;
    border-color: pink; */
    padding: 3rem;
    width: 100%;
    max-width: 100%;
    font-size: 23px;
    word-wrap: break-word;
    overflow: hidden;
}

.image-container img{
    border-style: solid;
    border-color: yellow;
    margin: 2rem;
    width: 700px;
    height: 400px;
}

.picture:hover, .picture2:hover{
    opacity: 50%;
}

.carousel-button-left{
    position: relative;
    top: -250px;
    right: -40px;
}

.carousel-button-right{
    position: relative;
    top: -250px;
    right: -695px;
}

