.pageTitle{
	font-family: Brush Script MT, cursive;
	font-size: 400%;
	color: #ff4d4d;
	text-shadow: 0 0 3px #ffdb4d, 0 0 5px #ffdb4d;
}

/* Necessary Styling for Navigation and Header*/
header{
	background-image:url("https://www.thebeijinger.com/sites/default/files/thebeijinger/blog-images/314889/nwh-1-10.jpg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;
	background-size:cover;
	height: 600px;
}
.accountInfo{
	display: flex;
	justify-content: flex-end;
	list-style: none;
}

.accountInfo li a{
	border: 1px solid grey;
	margin: 1px;
	background-color: white;
	font-family: Times New Roman;
	color: black;
	text-decoration: none;
	padding: 5px;
	padding-top: 20px;
	font-size: 150%;
}
.navBar {
	display: flex;
	justify-content: center;
	list-style: none;
	align-content: space-between;
	margin-bottom: 20px;
}
.navBar li a{
	background-color: white;
	font-family: Times New Roman;
	color: black;
	text-decoration: none;
	padding: 15px;
	font-size: 150%;
	border: 1px solid grey;
	margin: 2px;
}
/* Styling Main Content Of Page*/
body {
	background-color: wheat;
}
.content{
	align:center;
}
h2 {
	font-family: Brush Script MT, cursive;
	font-size: 200%;
	color: #ff4d4d;
	text-shadow: 0 0 3px #ffdb4d, 0 0 5px #ffdb4d;
}
section {

	justify-content: center;
}


/* Color Change When Hover Over Link */
#link:hover {
	color: #ff4d4d;
}

/* Necessary for footer*/
.footer{
	display: flex;
	justify-content: center;
}

.footer div p{
	font-family: Times New Roman;
	font-size: 125%;
}

.person1{
	background-color: whitesmoke;
	margin-right: 0px;
	padding: 10px;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.person2{
	background-color: whitesmoke;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.person3{
	background-color: whitesmoke;
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.person4{
	background-color: whitesmoke;
	margin-left: 0px;
	padding: 10px;
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
}
