.forms{
	display: grid;
	justify-content: center;
	grid-template-columns: 400px;
	grid-template-rows: auto auto;
	gap: 0px;
}

legend{
	font-weight: bold;

}

.userEmail{
	text-align: left;
	font-size: 110%;
	font-weight: bold;
	padding: 10px;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: ghostwhite;
}

.userCode{
	text-align: left;
	font-size: 110%;
	font-weight: bold;
	padding: 10px;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: ghostwhite;
	padding-bottom: 15px;
}

.redirects a{
	text-decoration: none;
	color: blue;
}

